body {
  #background {
    clip-path: polygon(100% 5%, 100% 50%, 12% 100%, 0% 100%, 0 51%, 0% 0%);
    background-color: rgba(236, 236, 236, 0);
    height: 100%;
    width: 99%;
    position: absolute;
    z-index: -1;
  }
  /*   a {
    border: 1px solid rgb(230, 14, 14);
    background-color: rgb(240, 240, 240);
    padding-top: 9px;
    padding-right: 180psx;
    padding-bottom: 5px;
    padding-left: 10px;
  } */
}
