* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Cairo", sans-serif;
  font-size: 1.6rem;
  direction: rtl;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 237, 231);
  position: relative;
  min-height: 100vh;

  header {
    // display: flex;
    width: 90%;
    margin: auto;
    direction: ltr;

    nav {
      flex: 1;

      ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        color: rgba(7, 7, 7, 0.74);

        a {
          font-size: 0.4rem;
        }
      }
    }
  }

  main {
    display: flex;
    justify-content: center;
    white-space: pre; // auto newline
    padding-bottom: 80px;
    font-size: 0.7rem;

    p {
      padding-top: 3rem;
      padding-left: 2rem; // push text to center
    }
  }

  footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 0.4rem;

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
    }

    img {
      height: 20px;
      width: 20px;
      margin: 0 5px;
    }
  }
}

// links general
a {
  text-decoration: none;

  &:link {
    color: rgb(0, 0, 0);
  }

  &:visited {
    color: rgb(70, 48, 48);
  }
}
