* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Cairo", sans-serif;
  font-size: 1.6rem;
  direction: rtl;
}

// links
a {
  text-decoration: none;

  &:link {
    color: rgb(0, 0, 0);
  }

  &:visited {
    color: rgb(41, 22, 22);
  }
}
