@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

header {
  @include flexCenter();
  color: $textColor;

  img {
    @include flexCenter();
  }

  background: {
    image: url("../images/p09.jpg");
  }
}
