.body-ideas {
  justify-content: center; // x-achse
  height: 220vh; // push footer to end

  h1,
  h2,
  h3 {
    margin: 1rem;
  }

  p {
    margin: 0.5rem;
  }

  .first-title {
    display: flex;
    justify-content: center; // x-achse
    align-items: center; // y-achse
    padding: 10rem 0rem 10rem 0rem;

    .sub-title {
      font-size: 0.5rem;
    }
  }

  .big-title {
    display: flex;
    flex-direction: row;
    align-items: center; // y-achse
    justify-content: center; // x-achse
    height: 5rem;
    width: 100%;
    margin-top: 1rem;
    background-color: rgba(71, 70, 68, 0.87);
    color: rgb(221, 221, 221);
  }

  .text-block {
    display: flex;
    flex-direction: column;
    align-items: center; // x-achse in column mode
    text-align: justify; // lines in a block
    padding-top: 1rem;

    .text {
      width: 50%;
      font-size: 0.8rem;
      padding-top: 1rem;
    }

    .zitat {
      flex-direction: column;
      width: 40%;
      font-size: 0.7rem;
      direction: ltr;
      font-style: italic;
      padding-top: 1rem;

      .book-name {
        direction: rtl;
        padding: 0.2rem;
        font-style: oblique;
        font-size: 0.5rem;
        font-weight: bold;

        &:before {
          content: "Friedrich Wilhelm Nietzsche, ";
        }
      }
    }
  }

  .footer {
    text-align: center;
    font-size: 0.5rem;
    // min-height: 1rem;
    padding: 1rem;
    // background-color: #d106d8;

    a {
      padding: 0.2rem;
    }
  }

  // links in ideas page
  a {
    text-decoration: none;

    &:link {
      color: antiquewhite;
    }

    &:visited {
      color: rgba(154, 154, 154, 0.817);
    }
  }
}
