h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5rem;
  // padding: 0.5rem;
}

p {
  margin: 0.5rem;
}

.body-ideas-main-page {
  height: 100vh;

  .main {
    display: flex;
    flex-direction: column;
    align-items: center; // x-achse in column mode
    // padding-top: 1rem;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center; // x-achse
      align-items: center; // x-achse in column mode
      padding: 2rem;
    }

    .links {
      display: flex;
      flex-direction: column;
      // justify-content: center; // x-achse
      align-items: center; // x-achse in column mode
      padding-top: 4rem;

      a {
        padding: 0.5rem;
      }
    }
  }
}

.body-ideas {
  height: 400vh; // push footer to end

  .first-title {
    display: flex;
    justify-content: center; // x-achse
    align-items: center; // y-achse
    padding: 10rem 0rem 10rem 0rem;

    .sub-title {
      font-size: 0.5rem;
    }
  }

  .big-title {
    display: flex;
    flex-direction: row;
    align-items: center; // y-achse
    justify-content: center; // x-achse
    height: 2rem;
    width: 50%;
    margin-top: 1rem;
    background-color: rgba(121, 120, 118, 0.87);
    color: rgb(221, 221, 221);
  }

  .text-block {
    display: flex;
    flex-direction: column;
    align-items: center; // x-achse in column mode
    text-align: justify; // lines in a block
    padding-top: 1rem;

    .text {
      width: 50%;
      font-size: 0.8rem;
      padding-top: 1rem;
    }

    .zitat {
      flex-direction: column;
      width: 40%;
      font-size: 0.7rem;
      direction: ltr;
      font-style: italic;
      padding-top: 1.5rem;

      .zitat-persian {
        padding-top: 0.5rem;
        direction: rtl;
      }

      .author-name {
        direction: rtl;
        padding: 0.4rem;
        font-style: oblique;
        font-size: 0.5rem;
        font-weight: bold;

        &.nietzsche {
          &:before {
            content: "Nietzsche, ";
          }
        }

        &.heidegger {
          &:before {
            content: "Martin Heidegger, ";
          }
        }
      }
    }

    // used for footnotes calling in text
    a {
      font-size: 0.5rem;
      font-style: italic;
    }
    .footnotes {
      width: 50%;
      font-size: 0.6rem;
      direction: ltr;
      padding-top: 10rem;
    }
  }

  .footer {
    text-align: center;
    font-size: 0.5rem;
    // min-height: 1rem;
    padding: 1rem;
    // background-color: #d106d8;
  }

  a {
    font-size: 0.4rem;
  }
}
