/* Header and navigation */
.poem-header {
  display: flex;
  width: 90%;
  margin: auto;
  direction: ltr;

  nav {
    flex: 1;

    .navi {
      display: flex;
      justify-content: space-between;
      list-style: none;
      color: rgba(7, 7, 7, 0.74);
      a {
        font-size: 0.5rem;
      }
    }
  }
}

/* body */
.poem-content {
  @include flexCenter();
  font-size: 0.7rem;
  padding-top: 5rem;
  text-align: right;

  p {
    white-space: pre; // auto newline
    height: 0.1rem;
  }
}

footer {
  text-align: center;
}
