/* Responsibility */
@media screen and (max-width: 700px) {
  // poem pages
  body {
    main {
      p {
        padding-top: 1rem;
      }
    }

    footer {
      padding: 0.5rem;
    }
  }

  // Index page
  .image-top {
    height: 20rem;
    font-size: 0.4rem;
    padding-top: 1rem;
  }

  .body-index {
    height: 320vh;
    .big-row {
      flex-direction: column;
      background-color: rgba(42, 41, 41, 0.781);
    }
  }

  .body-indeas {
    height: 320vh;
    .text {
      width: 90%;
      font-size: 0.6rem;
    }
    .zitat {
      width: 80%;
      font-size: 0.5rem;
  }
}
