/* Responsibility */
@media only screen and (max-width: 800px) {
  // poem pages
  body {
    main {
      p {
        padding-top: 0rem !important;
        font-size: 0.7rem !important;
        padding-left: 3rem !important; // push text to center
      }
    }

    footer {
      padding: 0.5rem;
    }
  }

  // Index page
  .image-top {
    height: 20rem;
    font-size: 0.4rem;
    padding-top: 1rem;
  }

  .body-index {
    height: 320vh;
    .big-row {
      flex-direction: column;
      background-color: rgba(42, 41, 41, 0.781);
    }
  }

  .body-ideas-main-page {
    .main {
      .links {
        padding-top: 0rem;
      }
    }
  }

  .body-ideas {
    height: 800vh;

    .first-title {
      padding: 10rem 0rem 1rem 0rem;

      .sub-title {
        font-size: 0.4rem;
      }
    }
    .text-block {
      .text {
        width: 90%;
        font-size: 0.65rem;
      }
      .zitat {
        width: 80%;
        font-size: 0.5rem;
      }
    }
  }
}

@media only screen and (max-height: 500px) {
  body {
    height: 150vh;
    background-color: rgba(79, 88, 79, 0.514);
  }
}
