@import "./variables";
@import "./header";
@import "./content";

@media (min-width: 400px) {
  html {
    font-size: 40px;
  }
}

a {
  text-decoration: none;

  &:link {
    color: rgb(0, 0, 0);
  }

  &:visited {
    color: rgb(134, 133, 133);
  }
}
